{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current", "browsers": ["last 2 versions", "not ie <= 10"] }, "modules": false }],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
